go 1.25.3

use (
	./services/location-producers
	./services/location-consumers
	./services/cab-request-handler
	./services/trip-dispatch-worker
	./services/driver-realtime-gateway
	./services/driver-request-handler
)
