SERVICE_NAME=location-consumers
LOG_LEVEL=info
HTTP_ADDR=:8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=go_ride
DB_SSLMODE=disable

KAFKA_BROKERS=localhost:9094
KAFKA_TOPIC=driver.location.updated.v1
KAFKA_CONSUMER_GROUP=location-consumers-group
