SERVICE_NAME=trip-dispatch-worker

KAFKA_BROKERS=localhost:9094
KAFKA_CONSUMER_GROUP=trip-dispatch-worker-group
KAFKA_INPUT_TOPIC=ride.requested.v1
KAFKA_ASSIGNED_TOPIC=ride.assigned.v1
KAFKA_UNASSIGNED_TOPIC=ride.unassigned.v1
